beautifulsoup4==4.9.3
boto3==1.21.2
botocore==1.24.2
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.3
cryptography==3.4.7
dnspython==2.2.0
elastic-transport==8.0.1
elasticsearch==7.10.1
finnhub-python==2.4.7
Flask==2.0.3
Flask-Cors==3.0.10
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==20.9
pdf2image==1.16.0
Pillow==9.0.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
s3transfer==0.5.1
six==1.16.0
soupsieve==2.2
urllib3==1.26.3
waitress==2.0.0
Werkzeug==2.0.3
